body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #387091;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile img {
    width: 40px;
    height: 40px;
    /* border-radius: %; */
}

nav {
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


/* .menu li {
    margin-left: 20px;
} */

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 20px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        /* padding: 20px; */
        background-color: #387091;
        width: 200px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .menu li {
        margin: 10px 0;
    }
    #menu-toggle:checked+.menu-icon+.menu {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}