/* * {
    width: 100%;
    height: auto;
} */

.contenedor-equipo {
    width: 100%;
    /* height: 1500px; */
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.datos-equipo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo {
    background-image: url('img/fondoequipo.webp');
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
    /* opacity: ; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jugador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100px;
    height: 120px;
    border: 4px solid #c1c7c4;
    padding: 10px;
    border-radius: 20px;
    margin: 3px;
}

.jugador img {
    border-radius: 20px;
    width: 90px;
    height: 90px;
}